In [3]:
import pandas as pd
# file = "/mnt/mydisk/pku_data/3571万专利申请全量数据1985-2022年/湖北省.csv"
file = "/mnt/mydisk/gitee/pku_industry/data_process/patent/cooperation/output/2505/目标专利信息.csv"

In [4]:
df = pd.read_csv(file, usecols=["申请人"], low_memory=False)

In [5]:
df.shape

(110223, 1)

In [17]:
# filtered_df = df["申请人"][df["申请人"].str.len() > 20].unique()
# tmp_df["申请人"].str.split(';')
# df[df["申请人"].str.split(';').apply(len) > 1]["申请人"]

In [6]:
import itertools

In [38]:
# data = []
# data.extend(itertools.combinations([3,1,2,7,5], 2))

In [7]:
persons = df[df["申请人"].str.split('; ').apply(len) > 1]["申请人"]
persons.shape

(110223,)

In [11]:
companies = persons

In [20]:
all_companies = set()

for company in companies:
    coms = company.split("; ")
    coms = list(filter(lambda x: len(x) > 4, coms))
    all_companies.update(coms)

In [33]:
len(all_companies)

6169

In [34]:
# 所有的公司都保存到本地，方便获取他们的经纬度
pd.DataFrame({"companies": list(all_companies)}).to_csv(
    "all_companies.csv", index=False
)

In [35]:
data = {}

for p in persons.to_list():
    ps = p.split('; ')
    ps = list(filter(lambda x: len(x)>=4, ps))
    if len(ps) < 2:
        continue
    # 通过sort 方法，保证有序不重复
    ps.sort()
    for item in itertools.combinations(ps, 2):
        # print(item, end="")
        if item in data:
            data[item] += 1
        else:
            data[item] = 1
    # break

In [ ]:
# data

In [36]:
cols = ["公司1", "公司2", "次数"]

pd_data = {}

In [37]:
len(data)

9609

In [38]:
company1 = []
company2 = []
cnt_values = []

for k, v in data.items():
    c1, c2 = k
    company1.append(c1)
    company2.append(c2)
    cnt_values.append(v)

pd_data = {
    "公司1": company1,
    "公司2": company2,
    "次数" : cnt_values
}

In [39]:
output_df = pd.DataFrame(pd_data)

In [40]:
output_df.head()

                公司1             公司2   次数
0       上海天马微电子有限公司     天马微电子股份有限公司  805
1      上海英宇包装科技有限公司  北京植物医生生物科技有限公司    2
2       上海中航光电子有限公司     天马微电子股份有限公司  399
3  上海金友金弘智能电气股份有限公司      江苏金友电气有限公司   25
4      上海纯米电子科技有限公司    北京小米移动软件有限公司   48

In [41]:
new_output_df = output_df.sort_values(by='次数', ascending=False)

In [42]:
new_output_df.shape

(9609, 3)

In [43]:
new_output_df.head()

                 公司1            公司2    次数
1122   京东方科技集团股份有限公司  成都京东方光电科技有限公司  5484
1119   京东方科技集团股份有限公司  北京京东方显示技术有限公司  4389
1120   京东方科技集团股份有限公司  北京京东方光电科技有限公司  4159
1134   京东方科技集团股份有限公司   合肥鑫晟光电科技有限公司  3901
5056  广州视源电子科技股份有限公司   广州视睿电子科技有限公司  3767

In [46]:
new_output_df.to_csv("output/2505/专利协同次数统计.csv", index=False)