In [2]:
from tqdm import tqdm
import pandas as pd
from typing import Dict
import json

公司1与公司2都是集群企业，返回1，否则返回0

In [4]:
file = "/mnt/mydisk/gitee/pku_industry/data_process/patent/cooperation/output/2505/专利协同次数统计.csv"

df = pd.read_csv(file)

In [5]:
df.shape

(9609, 3)

In [6]:
target_com_file = "/mnt/mydisk/gitee/pku_industry/data_process/patent/cooperation/data/2w_企业名称.csv"
target_company = pd.read_csv(target_com_file)
target_company_name = target_company["企业名称"].values

In [7]:
def load_json(file) -> Dict:
    with open(file, "r", encoding="utf-8") as f:
        return json.load(f)

In [8]:
def com_is_in_cluster(row):
    com1, com2 = row["公司1"], row["公司2"]
    if com1 in target_company_name and com2 in target_company_name:
        return 1
    return 0

In [9]:
df.columns

Index(['公司1', '公司2', '次数'], dtype='object')

In [10]:
df["both_in"] = df.apply(com_is_in_cluster, axis=1)

In [11]:
df.shape

(9609, 4)

In [12]:
df["both_in"].value_counts()

both_in
0    9293
1     316
Name: count, dtype: int64

In [13]:
df.head()

              公司1            公司2    次数  both_in
0   京东方科技集团股份有限公司  成都京东方光电科技有限公司  5484        0
1   京东方科技集团股份有限公司  北京京东方显示技术有限公司  4389        0
2   京东方科技集团股份有限公司  北京京东方光电科技有限公司  4159        0
3   京东方科技集团股份有限公司   合肥鑫晟光电科技有限公司  3901        1
4  广州视源电子科技股份有限公司   广州视睿电子科技有限公司  3767        0

In [14]:
df.to_csv(
    "/mnt/mydisk/gitee/pku_industry/data_process/patent/cooperation/output/2505/专利协同次数统计.csv",
    index=False,
)