In [1]:
import pandas as pd

file_name = "output/专利协同次数统计.csv"
df = pd.read_csv(file_name)

In [2]:
import json
from typing import Dict


def save_json(data: Dict, file: str):
    with open(file, "w", encoding="utf-8") as f:
        json.dump(data, f, ensure_ascii=False, indent=2)


def load_json(file) -> Dict:
    with open(file, "r", encoding="utf-8") as f:
        return json.load(f)

In [3]:
df.head()

              公司1            公司2    次数  both_in
0   京东方科技集团股份有限公司  成都京东方光电科技有限公司  5484        0
1   京东方科技集团股份有限公司  北京京东方显示技术有限公司  4389        0
2   京东方科技集团股份有限公司  北京京东方光电科技有限公司  4159        0
3   京东方科技集团股份有限公司   合肥鑫晟光电科技有限公司  3901        1
4  广州视源电子科技股份有限公司   广州视睿电子科技有限公司  3767        0

In [ ]:
from tqdm import tqdm

In [6]:
baidu_json_data = load_json("API_results/all_companies.json")

In [7]:
new_data = {
    "公司1": [],
    "公司2": [],

    "公司1_经度": [],
    "公司1_纬度": [],
    "公司2_经度": [],
    "公司2_纬度": [],
    
    "次数": [],
    "both_in": [],
}

In [19]:
# print(query_data(connection, "珠海格力电器股份有限公司"))

{'company_name': '珠海格力电器股份有限公司', 'longitude': Decimal('113.5502328'), 'latitude': Decimal('22.1337738')}

In [9]:
# baidu_json_data

In [8]:
res = baidu_json_data.get('重庆英斯捷新材料有限公司')
res

In [9]:
def query_data(company_name):
    # 创建一个游标对象
    global baidu_json_data
    res = baidu_json_data.get(company_name, {})
    if not res:
        return pd.NA, pd.NA
    # 获取查询结果
    obj = res["result"]["location"]
    return obj["lng"], obj["lat"]

In [22]:
# query_data("重庆英斯捷新材料有限公司")

(106.38087922053842, 29.48721475766089)

In [10]:
for _, row in tqdm(df.iterrows(), total=len(df)):
    com1, com2 = row["公司1"], row["公司2"]
    com1_longitude, com1_latitude = query_data(com1)
    com2_longitude, com2_latitude = query_data(com2)

    new_data["公司1"].append(com1)
    new_data["公司2"].append(com2)
    
    new_data["公司1_经度"].append(com1_longitude)
    new_data["公司1_纬度"].append(com1_latitude)
    
    new_data["公司2_经度"].append(com2_longitude)
    new_data["公司2_纬度"].append(com2_latitude)
    new_data["次数"].append(row["次数"])
    new_data["both_in"].append(row["both_in"])

100%|██████████| 9609/9609 [00:00<00:00, 49730.72it/s]

In [11]:
new_df = pd.DataFrame(new_data)
# new_df.to_excel("output/2505/武汉专利协同经纬度_final_res.xlsx")

In [12]:
new_df.head()

,公司1,公司2,公司1_经度,公司1_纬度,公司2_经度,公司2_纬度,次数,both_in
0,京东方科技集团股份有限公司,成都京东方光电科技有限公司,108.658567,19.101105,103.909577,30.780721,5484,0
1,京东方科技集团股份有限公司,北京京东方显示技术有限公司,108.658567,19.101105,116.55493,39.792154,4389,0
2,京东方科技集团股份有限公司,北京京东方光电科技有限公司,108.658567,19.101105,116.517098,39.783989,4159,0
3,京东方科技集团股份有限公司,合肥鑫晟光电科技有限公司,108.658567,19.101105,117.342508,31.954997,3901,1
4,广州视源电子科技股份有限公司,广州视睿电子科技有限公司,113.533437,23.161492,113.445586,23.156039,3767,0