In [15]:
import pandas as pd
from tqdm import tqdm

In [33]:
TOP_K = 5

In [11]:
import evaluate
google_bleu = evaluate.load("google_bleu")

C:\Users\1\AppData\Roaming\Python\Python311\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [8]:
raw_file = "data/init_values.xls"
ref_file = "data/alter_values.xls"

In [17]:
raw_df.head()

    行业分类
0   房地产业
1  其他服务业
2    住宿业
3  居民服务业
4    零售业

In [23]:
raw_df = pd.read_excel(raw_file)
ref_df = pd.read_excel(ref_file)

In [24]:
raw_texts = raw_df["行业分类"].to_list()
ref_texts = ref_df["类别名称2017"].to_list()

In [48]:
def get_similarity_score(text1: str, text2: str):
    text1 = " ".join(list(text1))
    text2 = " ".join(list(text2))
    d = google_bleu.compute(predictions=[text1], references=[[text2]])
    return d["google_bleu"]

In [49]:
cnt = 0
data = []

for text1 in raw_texts:
    arr = []
    for text2 in ref_texts:
        similary_score = get_similarity_score(text1, text2)
        arr.append((text2, similary_score))

    # 分数从高到低排序
    arr.sort(key=lambda x: x[1], reverse=True)
    arr = arr[:TOP_K]

    ans = []
    for text, score in arr:
        if score == 0:
            ans.append(pd.NA)
        else:
            ans.append(text)
            
    data.append(ans)
    
    cnt += 1
    if cnt == 5:
        break

In [50]:
data

[['房地产业', '其他房地产业', '房地产开发经营', '房地产中介服务', '房地产租赁经营'],
 ['其他服务业', '商务服务业', '居民服务业', '其他商务服务业', '其他居民服务业'],
 ['住宿业', '其他住宿业', '住宿和餐饮业', '农业', '林业'],
 ['居民服务业', '其他居民服务业', '商务服务业', '其他服务业', '民宿服务'],
 ['零售业', '批发和零售业', '综合零售', '百货零售', '粮油零售']]

In [51]:
tmp_df = pd.DataFrame(data, columns=list(range(5)))

In [52]:
tmp_df

       0        1        2        3        4
0   房地产业   其他房地产业  房地产开发经营  房地产中介服务  房地产租赁经营
1  其他服务业    商务服务业    居民服务业  其他商务服务业  其他居民服务业
2    住宿业    其他住宿业   住宿和餐饮业       农业       林业
3  居民服务业  其他居民服务业    商务服务业    其他服务业     民宿服务
4    零售业   批发和零售业     综合零售     百货零售     粮油零售

In [41]:
raw_df.iloc[:5]

    行业分类
0   房地产业
1  其他服务业
2    住宿业
3  居民服务业
4    零售业

In [43]:
pd.concat([raw_df.iloc[:5], tmp_df], axis=1)

    行业分类      0     1     2     3     4
0   房地产业   房地产业  <NA>  <NA>  <NA>  <NA>
1  其他服务业  其他服务业  <NA>  <NA>  <NA>  <NA>
2    住宿业    住宿业  <NA>  <NA>  <NA>  <NA>
3  居民服务业  居民服务业  <NA>  <NA>  <NA>  <NA>
4    零售业    零售业  <NA>  <NA>  <NA>  <NA>

In [ ]:
data

In [29]:
text1

'房地产业'